﻿
@{
    ViewData["Title"] = "GetAll";
}

<h2>All products:</h2>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    </table>
}

