﻿@model Tema3Ex2.Models.Product
@{
    ViewData["Title"] = "GetById";
}

<h2>GetById:</h2>

<table>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
    </tr>
</table>
